{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<h1 style="text-align: center;">Password Reset</h1>

<div class="container viewing-tray "  >
    <div class="row">
      <div class="col-2-md"></div>
      <div class="col-8-md px-4" style="width: 100%; text-align: center;">

        <p>We have sent you an e-mail. Please contact us if you do not receive it in a few minutes.</p>

      </div>
      <div class="col-2-md"></div>
    </div>
  
</div>
{% endblock content %}
