<!-- This HTML is used to render out the charts. It consist of 3 steps parts. 
    1. Frame the graphs in HTML.
    2. Safely pass data from the context rendered to the page by importing base.js and using |json_script  
-->

<div class="viewing-tray">
    <!-- Frame the charts in HTML. Charts.js uses the <canvas> tag.-->
    <h3 style="text-align: center;">What is everyones favorite season?</h3>

    <!-- Chart.js uses this HTML tag for their charts -->
    <canvas id="chart1" width="100" height="100"></canvas>
</div>

<!-- Example on how to privatley pass context data to the JavaScript name space. -->
{% load static %}

<script src="{% static 'js/base.js' %}"></script>



<!-- This sends data too JavaScript. How do you pull data in from javascript -->
{{ Q1_A|json_script:"Q1_A" }}
{{ Q1_B|json_script:"Q1_B" }}
{{ Q1_C|json_script:"Q1_C" }}
{{ Q1_D|json_script:"Q1_D" }}


