{% extends 'pages/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Already Voted{% endblock title %}

{% block content %}
<div class="container viewing-tray">

<h1 style="text-align: center;">You already voted!</h1>

<br><br><br>
    <h3 style="text-align: center;">According to your records, you have already cast a vote! </h3>
    <p style="text-align: center;">You can read what you voted <a href="{% url 'read'%}">here</a> </p>
    <p style="text-align: center;">You can update your vote <a href="{% url 'update' user.id %}">here</a> </p>
    <p style="text-align: center;">You can delete what you voted <a href="{% url 'delete'%}">here</a> </p>

</div>
{% endblock content %}